

.banner_image {
  height: 100vh;
  width: 70%;
  display: flex;
  position: relative;
  margin-left: 30%;
  background-image: url('../../assets//images/home-img.png');
}

.home_title {
  position: absolute;
  top: 10%;
  left: 0;
  margin-left: 45px;
  font-family: 'Bigilla', sans-serif;
  font-size: 170px;
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 5px;
}

span {
  margin-left: 34%;
}
