.navbar {
  position: absolute;
  width: 100%;
  z-index: 2;

  .container {
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  font-family: 'Bigilla', sans-serif;
  pointer-events: none;
}
