.shop_section {
  width: 100%;
  display: flex;

  .left_section {
    height: 100vh;
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;

    .shop_img {
      height: 100%;
      width: 100%;
    }

    .shop_button {
      padding: 10px 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      background-color: #000;
      color: #fff;
      border: none;
      font-family: 'Bigilla', sans-serif;
      font-size: 80px;
      cursor: pointer;
    }
  }

  .right_section {
    height: 100vh;
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;

    .shop_img {
      height: 100%;
      width: 100%;
    }

    .shop_button {
      padding: 10px 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      background-color: #000;
      color: #fff;
      border: none;
      font-family: 'Bigilla', sans-serif;
      font-size: 80px;
      cursor: pointer;
    }
  }
}
